/* ================ VARIABLES ================*/
:root{
    --main-color: #FFFFFF;
    --main-accent-color: #4D5AE5;
    --accent-ocean-color: #404BBF;
    --accent-navy-color: #2E2F42;
    --accent-slate-color: #434455;
    --accent-cornflower-color: #E7E9FC;
    --accent-cloud-color: #F4F4FD;
    --shadow-color: rgba(0, 0, 0, 0.12);
    --main-font: "Roboto", sans-serif;
    --accent-font: "Raleway", sans-serif;

}
/* ================ / VARIABLES ================*/

/* ================ COMMON STYLES ================*/
body, h1, h2, h3, button, p {
    font-family: var(--main-font);
    color: var(--accent-slate-color);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: var(--main-color);
    
}

.list{
    list-style-type: none;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}
/* ================ /COMMON STYLES ================*/

/* ================ COMPONENTS ================*/
.logotype {
    font-family: var(--accent-font);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--main-accent-color);
}
.logotype span{
    color: var(--accent-navy-color);
}

/* ================ /COMPONENTS ================*/

/* ============= PAGE HEADER ============= */
.top-header{
    background-color: var(--accent-cornflower-color);
}

.nav-header .list .link {
    font-weight: 500;
    color: var(--accent-navy-color)
}
.nav-header .list .link:hover, .nav-header .list .link:focus {
    color: var(--accent-ocean-color);
    text-decoration: underline;
}

.address-header .list .link {
    color: var(--accent-slate-color);
}

.top-header .address-header .link:hover, .top-header .address-header .link:focus {
    color: var(--accent-ocean-color);
    text-decoration: underline;
}
/* ============= PAGE HEADER ============= */

/* ================ HERO ================ */
.hero{
    background-color: var(--accent-navy-color);
    color: var(--main-color)
}

.hero .header-f {
    text-transform: capitalize;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    color: var(--main-color);
}
.hero .cta{
    background-color: var(--main-accent-color);
    color: var(--main-color);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.hero button:hover, .hero button:focus {
    background-color: var(--accent-ocean-color);
}

/* ================ / HERO ================ */

/* ================ BENEFITS ================ */
.benefits .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
    
}

.benefits .header-third {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
}

.benefits .paragraph {
    color: var(--accent-slate-color);
}

/* ================ / BENEFITS ================ */

/* ================ What are we doing ================ */
.what-we-do .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
    
}
/* ================ / What are we doing ================ */

/* ================ OUR TEAM ================ */
.our-team{
    background-color: var(--accent-cloud-color);
}

.our-team .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
    
}

.our-team .header-third {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
}

.our-team .list .points {
    background-color: var(--main-color);
}

.our-team .paragraph {
    color: var(--accent-slate-color);
}
/* ================ / OUR TEAM ================ */

/* ================ PORTFOLIO ================ */
.portfolio .paragraph {
    color: var(--accent-slate-color);
}
.portfolio .header-sec {
    text-transform: capitalize;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-navy-color)
}

.portfolio .list .portfolio-button {
    color: var(--main-accent-color);
    background-color: var(--accent-cloud-color);
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.portfolio .list .portfolio-button:hover, .portfolio .list .portfolio-button:focus {
    color: var(--main-color);
    background-color: var(--accent-ocean-color);
}
/* ================ / PORTFOLIO ================ */

/* ================ FOOTER ================ */
footer, p {
    background-color: var(--accent-navy-color);
    color: var(--accent-cloud-color);
}

footer .logotype span {
    color: var(--accent-cloud-color)
}

/* ================ / FOOTER ================ */







